.resizer {
  position: relative;
  cursor: col-resize;
  height: 100%;
  left: 0;
  top: 0;
  width: 5px;
  background-color: #ffffff5f;
}
.MiddleDiv {
  display: flex;
  flex-direction: row;
  position: absolute;
  right:170px;
  width: 200px;
  min-width: 30px;
  height: calc(100vh - 40px);
}
.editorWrap{
  width: calc(100% - 370px);
  max-width: calc(100% - 200px);
  overflow-x:auto;
}
.ResizableBox {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  height: calc(100vh - 40px);
}
.InputBox {
  flex: 1;
  padding: 5px;
  padding-right: 10px;
  border-bottom: 1px solid #635c5c;
  padding-bottom: 10px;
  font-size: large;
}
.textArea{
  overflow:scroll;
  height: 100%;
  width: 100%;
  resize: none;
  font-size: large;
}

.OutputBox {
  padding: 5px;
  flex: 1;
  padding-right: 10px;
}

/* ----------------------------------------------------------------------- */
.homePageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: 100vh;
  }
  .upperPanel{
    display: flex;
    flex-direction: row;
    height: 40px;
  }
  .runBtn{
    margin-top: 5px;
    margin-left: 20px;
    color: #C2AFF0;
  }
  .runBtn:hover{
    color: #786c94;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  .options{
    padding: 10px;
    color: #fff;
  }
  .formWrapper {
    /* glassmorphism */
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(173, 173, 173, 0.37);
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
  }
  
  .inputGroup {
    display: flex;
    flex-direction: column;
  }
  
  .homePageLogo {
    height: 80px;
    margin-bottom: 5px;
  }
  
  .inputBox {
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-bottom: 14px;
    background: #f5f1e7;
    font-size: 16px;
    font-weight: bold;
  }
  
  .btn_leaveBtn,
  .btn_copyBtn{
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
  }

  .btn {
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .btn_leaveBtn,
  .joinBtn,
  .leaveBtn {
    background: #C2AFF0;
    width: 100px;
    margin-left: auto;
  }

  .btn_leaveBtn:hover,
  .btn_copyBtn:hover,
  .joinBtn:hover,
  .leaveBtn:hover {
    background: #787878;
  }
  
  .createInfo {
    margin: 0 auto;
    margin-top: 20px;
  }
  
  .NewRoomBtn {
    color: #C2AFF0;
    text-decoration: none;
    border-bottom: 1px solid #C2AFF0;
    transition: all 0.3s ease-in-out;
  }
  
  .NewRoomBtn:hover,
  footer a:hover {
    color: #786c94;
    border-color: #786c94;
  }
  .main{
    display: flex;
    flex-direction: column;
  }
  .mainWrap {
    display: flex;
  }
  
  .aside {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    background: #16091c;
    padding: 12px;
    color: #fff;
    display: flex;
    flex-direction: column;
    width:150px;
  }
  .asideInner {
    flex: 1;
  }
  
  .clientsList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* gap: 20px; */
    gap: 10px;
  }
  
  .client {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    /* font-weight: bold; */
  }
  
  .logo {
    border-bottom: 1px solid #424242;
    padding-bottom: 10px;
  }
  
  .logoImage {
    height: 40px;
  }

  .btn_leaveBtn,
  .btn_copyBtn,
  .leaveBtn {
    width: 100%;
    margin-top: 20px;
  }
  .CodeMirror {
    min-height: calc(100vh - 60px);
    font-size: 20px;
    line-height: 1.6;
    padding-top: 20px;
  }
  